<body>
<div  class="store-container" class="container">
    <div style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let product of storeProducts" class="product-card" class="con">
      <img [src]="product.image" alt="{{ product.name }}" class="product-image" width="230px" height="100px">
      <h3 class="head">{{ product.name }}</h3>
      <p class="middle">{{ product.description }}</p>
      <p class="last"><strong>Price: ${{ product.price }}</strong></p>  
    </div>
  </div>
  </div>
</body>
