.container {
  width: 100%;
  padding: 20px;
  
}

h2 {
  color: rgb(124, 151, 198);
}

.class-list {
  margin-top: 20px;
  margin-left: 130px;
}

.table-heading {
  display: flex;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

.table-cell {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
}

.class-item {
  border-top: 1px solid #ddd;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.edit-form,
.add-form {
  margin-top: 30px;
  margin-left: 300px;
}

.form-group {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
  border-radius: 10px;
  width:40%;
}

 button.edit {
width:40%;
} 

button.save,.update {
  background-color: green;
  color: white;
  width:10%;
  margin-left: 10%;
} 

.form-group label {
  width: 120px;
  margin-right: 10px;
}

.form-group input {
  width: 200px;
}