<div class="card">
  <div class="left-container">
    <div class="img"></div>
    <h2>{{ trainer.name }}</h2>
  </div>
  <div class="right-container">
    <h1>Profile Details</h1>
    <div class="details-container">
      <div class="detail">
        <div class="label">Name:</div>
        <div class="value">{{ trainer.name }}</div>
      </div>
      <div class="detail">
        <div class="label">Age:</div>
        <div class="value">{{ trainer.age }}</div>
      </div>
      <div class="detail">
        <div class="label">Year Of Experience:</div>
        <div class="value">{{ trainer.yearOfExperience }}</div>
      </div>
      <div class="detail">
        <div class="label">Contact Number:</div>
        <div class="value">{{ trainer.contactNumber }}</div>
      </div>
      <div class="detail">
        <div class="label">Shift Timings:</div>
        <div class="value">{{ trainer.shiftTimings }}</div>
      </div>
      <div class="detail">
        <div class="label">Trainer Code:</div>
        <div class="value">{{ trainer.trainerCode }}</div>
      </div>
    </div>
  </div>
</div>
